
body {
  margin: 0;
  padding: 0;
  background-image: url('../images/main-bg.png');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif; /* Example font-family */
}

.mainslots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.betform {
  display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 0;
    position: absolute;
    right: 11%;
}

.slot-machine {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
  }
  .machine {
    position: absolute;
    z-index: -2;
    width: 450px;
    margin-top: -80px;
    margin-right: -25px;

  }
  .reel {
    width: 76px;
    height: 154px;
    font-size: 56px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
    margin: -110px 13px 0 13px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    line-height: 5.5rem;
  }
  
  .reel::before,
  .reel::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 1;
  }
  
  .reel::before {
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  }
  
  .reel::after {
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  }
  
  .reel {
    background-size: cover;
    background-position: center 25%;
  }
  #balance {
    background: linear-gradient(to bottom, #FFC107 27%, #fff5d5 50%, #ffc200 50%, #ff5e00 60%, #f7a700 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;
	text-transform: uppercase;	
	font-size: calc(2vw + .5rem);
	margin: 0;
	font-weight: 800;
  }

  #balance:after {
    content: attr(data-value); /* removed background: none; */
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: -1px 0 1px #ffffff, 0 1px 1px #2b1f00, 2px 6px 6px rgba(0, 0, 0, 0.8), 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.balance-amount {
  position: relative;
}
  .balance .balance-text {
    font-size: 1rem;
    font-weight: 800;
  }
  .balance .balance-amount {
    font-size: 2rem;
    font-weight: 800;
  }

   /* Add this CSS to make balance text bigger and style it */
.balance {
  text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 14%;
    flex-direction: column;
}

.balance-text {
  font-size: 24px; /* Adjust font size as needed */
}

.balance-amount {
  font-size: 32px; /* Adjust font size as needed */
}

/* Adjust the button size */
.betform button {
  font-size: 18px; /* Adjust font size as needed */
  padding: 10px 20px; /* Adjust padding as needed */
}
  
  /* .reel {
    width: 60px;
    height: 190px;
    background-color: lightgray;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .reel::before,
.reel::after {
  content: '';
  position: relative;
  width:60px;
  height: 190px;
  z-index: 1;
}

.reel::before {
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
}

.reel::after {
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
} */
  
  
  #spinButton {
    margin-top: 20px;
    font-size: 18px;
    padding: 20px 40px;
    cursor: pointer;
    background-color: #E91E63;
    color: white;
    border-radius: 6px;
    width: 100%;
  }

  #spinButton:disabled {
    cursor: not-allowed; /* Change cursor style */
    background-color: rgb(206, 104, 138);
    color: #a92f58;
  }

  .betform label {
    color: rgb(245, 171, 171);
    font-size: 1rem;
    background: #9C27B0;
    padding: 20px;
    border-radius: 12px 0 0 12px;
    text-align: center;
    margin-top: -40px;
    margin-right: -12px;
  }


  #betAmount {
    padding: 20px;
    border-radius: 12px;
    outline: 0;
    font-size: 1rem;
    border: 0;
  }

.reel, #balance {
    user-select: none; /* Prevent symbol selection */
}

  /* //texteffect */
  @import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300:700:900&display=swap");
 body {
	 font-family: "Exo 2", sans-serif;
	 /* background: #3fa1fb;
	 background: linear-gradient(142deg, rgba(63, 161, 251, 1) 0%, rgba(252, 70, 168, 1) 100%); */
}
 .title-wrapper {
	 display: grid;
	 align-items: center;
	 justify-content: center;
	 transform: skew(0, -10deg);
   position: absolute;
   top: 20%;
   left: 16%;
}
 .top-title {
	 order: 1;
	 text-align: center;
	 display: block;
	 color: #fff;
	 font-size: clamp(1rem, 4vw, 1.5rem);
	 margin-bottom: 1rem;
	 padding-right: 2rem;
}
 .bottom-title {
	 order: 3;
	 text-align: center;
	 display: block;
	 color: #fff;
	 font-size: clamp(1rem, 4vw, 1.5rem);
	 margin-top: 2rem;
	 padding-left: 2rem;
}
 .sweet-title {
	 order: 2;
	 color: #fde9ff;
	 font-weight: 900;
	 text-transform: uppercase;
	 font-size: clamp(3rem, 10vw, 6rem);
	 line-height: 0.75em;
	 text-align: center;
	 text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
}
 .sweet-title span {
	 display: block;
	 position: relative;
}
 .sweet-title span:before {
	 content: attr(data-text);
	 position: absolute;
	 text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9, -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
	 z-index: 1;
}
 .sweet-title span:nth-child(1) {
	 padding-right: 2.25rem;
}
 .sweet-title span:nth-child(2) {
	 padding-left: 2.25rem;
}
 .disclaimer {
	 width: 100%;
	 height: 2rem;
	 text-align: center;
	 color: #fff;
}
 .disclaimer a {
	 color: #fff;
}
 